.ContractCreation {
    margin-top: 1em;
    padding: 1em;
    border-top: 1px solid;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: space-between;
    color: #16325c;
}

.title {
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;

}

button {
    font-size: 1em;
    color: #09325c;
    line-height: 1;
    padding: .6rem 1rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: #fff;
}

input {
    margin-bottom: 1em;
    font-size: 1em;
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
    padding: .5rem;
    color: #09325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
}
